@if (isAddingtask == true) {
  <app-new-task [userId]="id" (onCanceledEvent)="onCancelAddTask()"></app-new-task>
}
<section>
  <header>
    <h1>{{ name }}'s Tasks</h1>
    <menu>
      <button (click)="onStartAddTask()"> Add Task</button>
    </menu>
  </header>
  <ul>
    @for (task of selectedUserTasks; track task.id){
    <li>
      <!-- Cdice che si usa poer ascoltare un evento ma con inject non c'è più bisogno 
      <app-task [task]="task" (taskCompleted)="onCompleted($event.toString())"></app-task>
    --> 
      <app-task [task]="task"/>
    </li>
    }
  </ul>
</section>
