<h1>TO-DO LIST AVANZATA CON ANGULAR</h1>

<mat-grid-list cols="2" rowHeight="1:1">

  <mat-grid-tile id="grid-list">
    <div class="cardList">
      <app-todo-list></app-todo-list>
    </div>
  </mat-grid-tile>

  <mat-grid-tile id="grid-form">
    <div class="column-container">
      <div id="toolbar">
        <app-toolbar></app-toolbar>
      </div>
      <div id="row-item">
        <app-todo-form></app-todo-form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<section>
  <div class="header"></div>
</section>
