.card {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.774);
    border-radius: 3%;
    
  }
  
  .card-footer {
    padding: 16px;
  }
  
  mat-card-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  