<mat-card class="item-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ todoItem.title }}</mat-card-title>
      <mat-card-subtitle>{{ todoItem.description }}</mat-card-subtitle>
      <section class="example-section">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
      </section>
    </mat-card-title-group>
  </mat-card-header></mat-card
>
