h1 {
    color: rgba(165, 8, 8, 0.74);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
}

#grid-list {
    background:rgba(165, 8, 8, 0.74);
}

#grid-form {
    background: rgb(230, 230, 230);
}

.header {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.74);
    color: rgb(0, 0, 0);
    text-align: center; 
}
