:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.774);
  border-radius: 3%;
}

.mat-form-field {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 0;
}

#titloForm {
  font-size: x-large;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

input,
select,
button {
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: rgb(255, 255, 255);
  resize: auto;
}

button {
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: rgb(103, 151, 255);
  cursor: pointer;
}
button:active {
  background: rgb(26, 252, 139);
  cursor: progress;
}
button:disabled {
  background: rgba(255, 0, 0, 0.527);
  color: #ffffff;
  cursor: not-allowed;
}
