  <h3 id="titloForm">Aggiungi un nuovo ToDo</h3>
  <form (ngSubmit)="onSubmit()" #todoForm>
    <div class="form-list">
      <p>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="titleForm"
          placeholder="{{ placeholderTitle }}"
        />
      </p>

      <p>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="categoryForm"
          placeholder="{{ placeholderCategory }}"
        />
      </p>
      <p>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="descriptionForm"
          [placeholder]="placeholderDescription"
        />
      </p>
      <button type="submit" [disabled]="buttonDisabled">Aggiungi</button>
    </div>
  </form>

