<h3 id="titloForm">Aggiungi un nuovo ToDo</h3>
<form (ngSubmit)="onSubmit()">
  <ul class="form-list">
    <li>
      <p>
        <input type="text" id="title" name="title" [(ngModel)]="titleForm"/>
      </p>
    </li>
    <li>
      <p>
        <input type="text" id="title" name="title" [(ngModel)]="categoryForm"/>
      </p>
    </li>
    <li>
      <p>
        <input type="text" id="title" name="title" [(ngModel)]="descriptionForm"/>
      </p>
    </li>
    <li>
      <button type="submit" [disabled] = 'buttonDisabled'>Aggiungi</button>
    </li>
  </ul>
</form>
