<h3 id="titloForm">Aggiungi un nuovo ToDo</h3>
<form (ngSubmit)="onSubmit()" #todoForm>
  <div class="form-list">
    <p>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="titleForm"
        placeholder="{{ placeholderTitle }}"
      />
    </p>

    <p>
      <input
        type="textarea"
        id="title"
        name="title"
        [(ngModel)]="descriptionForm"
        [placeholder]="placeholderDescription"
      />
    </p>
    <p>
      <select name="category" [(ngModel)]="categoryForm">
        <option value="" disabled selected hidden>Categoria</option>
        <option value="work">Work</option>
        <option value="family">Family</option>
        <option value="hobby">Hobby</option>
      </select>
    </p>

    <button type="submit" [disabled]="buttonDisabled">Aggiungi</button>
  </div>
</form>